{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow text-center">

            <div class="card-body">

                <h2 class="text-success">
                    ✅ Donation Added Successfully
                </h2>

                <p class="mt-3">
                    Your food donation is now available for orphanages.
                </p>

                <a href="/hostel-dashboard"
                   class="btn btn-success">

                   Back To Dashboard

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}