{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow text-center">

            <div class="card-body">

                <h2 class="text-success">
                    ✅ Registration Successful
                </h2>

                <p class="mt-3">
                    Your account has been created successfully.
                </p>

                <a href="/login"
                   class="btn btn-success">

                   Go To Login

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}